pipeline/PL_CopyDate.json
{
	"name": "PL_CopyDate",
	"properties": {
		"activities": [
			{
				"name": "Set_Year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varYear",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.InputDate, 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_Month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_Year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varMonth",
					"value": "@formatDateTime(pipeline().parameters.InputDate, 'MM')"
				}
			},
			{
				"name": "Set_Day",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varDay",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.InputDate, 'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set_Day",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Producto_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_Output",
						"type": "DatasetReference",
						"parameters": {
							"pYear": {
								"value": "@variables('varYear')",
								"type": "Expression"
							},
							"pMonth": {
								"value": "@variables('varMonth')",
								"type": "Expression"
							},
							"pDay": {
								"value": "@variables('varDay')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"InputDate": {
				"type": "string",
				"defaultValue": "2025-12-10"
			}
		},
		"variables": {
			"varYear": {
				"type": "String"
			},
			"varMonth": {
				"type": "String"
			},
			"varDay": {
				"type": "String"
			}
		},
		"folder": {
			"name": "02-Ejercicio_ADF"
		},
		"annotations": []
	}
}